@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background: #a80077;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #66ff00, #a80077);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #66ff00, #a80077); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.items{
    font-family: 'Lobster', cursive;
    display: inline-block;
    color: rgb(220, 248, 8);
}

.title-container{
    font-family: 'Lobster', cursive;
    display: inline-block;
    margin-left: 30%;
    margin-top: 5%;
    font-size: x-large;
    color: rgb(0, 4, 14);
    text-shadow: 2px 2px #b325ab;
}

li{
    display: inline-block;
    margin: 20px;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}

.round-number{
    margin-top: 20%;
    font-family: 'Lobster', cursive;
    margin-left: 3%;
    font-size: 40px;
    color: rgb(23, 24, 23);
    text-shadow: 2px 2px #b325ab;

}
.round-info{
    margin-top: 20%;
    font-family: 'Lobster', cursive;
    margin-left: 40%;
    font-size: 40px;
    color: rgb(0, 4, 14);
    text-shadow: 2px 2px #b325ab;
}

.ene-gain-loss-container{
    margin-top: 5%;
    margin-left: 32%;
}

.eneCalc-item{
    display: inline-block;
    background-color: rgba(44, 44, 246, 0.917);
    
}

.btn{
    color: azure;
    box-shadow: 3px 3px 1rem #1a1f27;
}

.energy-quantity{
    margin-left: 42%;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
    font-size: 70px;
    color: rgb(14, 13, 13);
    text-shadow: 2px 2px #b325ab;
}

.cafecito{
    height: 1px;
    width: 1px;
    margin-left: 80%;
}

.colabora{
    margin-top: 5%;
    margin-left: 80%;
}

.dev{
    margin-top: 5%;
    display: inline-block;
    margin-left: 40%;
    color: #272627;
    font-size: x-large;
    
}