{% extends "base.html" %}
{% block content %}
    
    <div class="textcontact">
        <h1>

            <p class="contac-text">
                Si deseas contactarnos puedes hacerlo a través de nuestros siguientes canales de contacto.
            </p>
        </h1>
    <div class="iconos-contact">
        <a href="https://www.youtube.com/channel/UCkEbYJQzB2R8boJn503vdaw"><img src="{{ url_for('static', filename='img/telegram.png') }}" alt="Telegram"></a>
       
        <a href=""><img src="{{ url_for('static', filename='img/youtube.png') }}" alt="YouTube"></a>

       
        
    </div>
    
    </div>

{% endblock %}