{% extends "base.html" %}
{% block content %}
        <!-- Maiin content -->
        <main>
            <div class="main-container">
                <div class="calculator-container">
                    <div class="round-container">
                        <span class="round-info">Ronda&nbsp;</span><span id="roundNumber" class="round-number">1</span><br>
                        <img src="">
                        
                        <div class="ene-gain-loss-container">
                            <div class="eneCalc-item">
                                <button class="btn" onclick="subtract()">-1 Ene</button>
                            </div>
                        
                            <div class="eneCalc-item">
                                <button class="btn" onclick="add()">+1 Ene</button>
                            </div>
                            
                            <div class="eneCalc-item">
                                <button class="btn" onclick="nextRound()">Siguiente Round</button>
                            </div>
                            
                            <div class="eneCalc-item">
                                <button class="btn" onclick="reset()">Nueva Arena</button>
                            </div>
                    </div>
                    
                </div>
                <div class="energy-quantity">
                    <span id="energyQuantity">3</span><span>/10</span>
                    <img src="/static/img/axie-full-transparent 150.png" alt="">
                </div>
                
                <script src="/static/js/energyCalculator.js"></script>
            </div>
        </main>
        
{% endblock %}
            
            